body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* ### Primary */

  --Lightred: 0, 100%, 67%;
  --OrangeYellow: 39, 100%, 56%;
  --GreenTeal: 166, 100%, 37%;
  --CobaltBlue: 234, 85%, 45%;

  /* ## Gradients */

  --LightSlateBlue-bg: 252, 100%, 67%;
  --LightRoyalBlue-bg: 241, 81%, 54%;

  --VioletBlue-circle: hsla(256, 72%, 46%, 1);
  --PersianBlue-circle: hsla(241, 72%, 46%, 0);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --PaleBlue: hsl(221, 100%, 96%);
  --LightLavender: hsl(241, 100%, 89%);
  --DarkGrayBlue: hsl(224, 30%, 27%);
}

@font-face {
  font-family: Hanken Grotesk;
  src: url(../../../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  height: 100vh;
}

/* Score */
.score-section {
  background-image: linear-gradient(hsl(var(--LightSlateBlue-bg)), hsl(var(--LightRoyalBlue-bg)));
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.score-bg {
  background-image: linear-gradient(var(--VioletBlue-circle), var(--PersianBlue-circle));
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}

h1 {
  font-size: 3em;
  margin: 0;
}

.align-center {
  text-align: center;
}

.txt-lightred {
  color: hsl(var(--Lightred));
}

.txt-orangeyellow {
  color: hsl(var(--OrangeYellow));
}

.txt-greenteal {
  color: hsl(var(--GreenTeal));
}

.txt-cobaltblue {
  color: hsl(var(--CobaltBlue));
}

.txt-white {
  color: var(--White);
}

.txt-paleblue {
  color: var(--PaleBlue);
}

.bg-darkgreyblue {
  background-color: var(--DarkGrayBlue);
}

.bg-lightred {
  background-color: hsla(var(--Lightred), 0.05);
}

.bg-orangeyellow {
  background-color: hsla(var(--OrangeYellow), 0.05);
}

.bg-greenteal {
  background-color: hsla(var(--GreenTeal), 0.05);
}

.bg-cobaltblue {
  background-color: hsla(var(--CobaltBlue), 0.05);
}

.border-rad {
  border-radius: 10px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.space-between {
  justify-content: space-between;
}

.v-align-center {
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.flex-dir {
  flex-direction: column;
}

.m-365 {
  max-width: 275px;
}

.w-100 {
  width: 100%;
}

.p-3 {
  padding: 1em;
}

.font-wt {
  font-weight: bold;
}

.py-3 {
  padding: 1em 0 1em 0;
}

.pr-3 {
  padding: 0 1em 0 0;
}

.my-3 {
  margin: 1em 0 1em 0;
}

.my-2 {
  margin: 0 0.5em 0 0.5em;
}

.mx {
  margin: 0 1em 0 1em;
}

.m-3 {
  margin: 1em;
}

.m-auto {
  margin: 1em auto;
}

.small {
  font-size: small;
}

button {
  border: none;
  border-radius: 2em;
  padding: 0.75em;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(var(--CobaltBlue));
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex-lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p-2 {
    padding: 0.75em;
  }

  .p-4 {
    padding: 2em;
  }

  .my-lg-2 {
    margin: 0.5em 0 0.5em 0;
  }

  .my-lg-4 {
    margin: 2em 0 2em 0;
  }

  .s {
    max-width: 650px;
    margin: auto;
    border-radius: 2em;
  }

  .score-section {
    padding: 2em;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    margin: 0;
  }

  h2 {
    font-weight: 700;
  }

  h2.my-3 {
    margin-top: 0;
  }

  .m-365 {
    width: 325px;
  }

  button.my-3 {
    margin: 2em 0 0 0;
  }

  .shadow {
    box-shadow: 0 10px 20px var(--PaleBlue);
  }
}